#Python - Data Structure

##Theoretical Question & Answer

###1. What are data structures, and why are they important?

Answer:Data structures are ways of organizing and storing data so that operations such as access, insertion, deletion, and modification can be performed efficiently. They are crucial for optimizing algorithms and improving program performance.

###2. Explain the difference between mutable and immutable data types with examples.

Answer: Mutable data can be changed after creation. Example: list, dict whereas immutable data cannot be changed after creation. Example: str, tuple.

###3. What are the main differences between lists and tuples in Python?

Answer: List data is mutable, slower, uses more memory whereas tuples are immutable, faster, uses less memory.

###4. Describe how dictionaries store data.

Answer: Dictionaries store data as key-value pairs using a hash table for efficient lookups.

###5. Why might you use a set instead of a list in Python?

Answer: Sets automatically remove duplicates and provide faster membership tests than lists.

###6. What is a string in Python, and how is it different from a list?

Answer: A string is an immutable sequence of characters, whereas a list is a mutable sequence of elements.

###7. How do tuples ensure data integrity in Python?

Answer: Being immutable, tuples prevent accidental changes to the data, ensuring data integrity.

###8. What is a hash table, and how does it relate to dictionaries in Python?

Answer: A hash table maps keys to values using a hash function; Python dictionaries are implemented using hash tables.

###9. Can lists contain different data types in Python?

Answer: Yes, lists can contain elements of different data types.

###10. Explain why strings are immutable in Python.

Answer: Strings are immutable to ensure performance, security, and thread safety

###11. What advantages do dictionaries offer over lists for certain tasks?

Answer: Faster lookups by key, no need to search linearly like in lists.

###12. Describe a scenario where using a tuple would be preferable over a list.

Answer: When storing configuration settings that shouldn't be modified.

###13. How do sets handle duplicate values in Python?

Answer: Sets automatically discard duplicate values.

###14. How does the “in” keyword work differently for lists and dictionaries?

Answer: For list it checks for value presence where as for dictionary it checks for key presence.

###15. Can you modify the elements of a tuple? Explain why or why not.

Answer: No, tuples are immutable, so their elements cannot be modified.

###16. What is a nested dictionary, and give an example of its use case.

Answer: A dictionary containing another dictionary.
Example: {"person": {"name": "Alice", "age": 30}}

###17. Describe the time complexity of accessing elements in a dictionary.

Answer: On average, O(1) due to hashing.

###18. In what situations are lists preferred over dictionaries?

Answer: When order matters or when storing sequences without keys.

###19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer: Until Python 3.6, dictionaries didn’t maintain insertion order; retrieval is by key, not position.

###20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer: For List, data is retrieved by index whereas for dictionary, data is retrieved by key.

##Practical Question & Answer

###1. Write a code to create a string with your name and print it

In [ ]:
#Answer

name = "Bidisha Das"
print(name)

Bidisha Das

###2. Write a code to find the length of the string "Hello World"

In [ ]:
#Answer

print(len("Hello World"))

11

###3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
#Answer

text = "Python Programming"
print(text[:3])

Pyt

###4. Write a code to convert the string "hello" to uppercase

In [ ]:
#Answer

print("hello".upper())

HELLO

###5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
#Answer

print("I like apple".replace("apple", "orange"))

I like orange

###6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
#Answer

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

###7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
#Answer

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

###8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
#Answer

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

###9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
#Answer

list = ['a', 'b', 'c', 'd']
print(list[1])

b

###10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

###11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
#Answer

element = (100, 200, 300)
print(element)

(100, 200, 300)

###12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [2]:
#Answer

colour_tuple = ('red', 'green', 'blue', 'yellow')
print(colour_tuple[-2])

blue

###13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [3]:
#Answer

number = (10, 20, 5, 15)
print(min(number))

5

###14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [4]:
#Answer

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

###15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [6]:
#Answer

fruits = ("mango", "cherry", "strawberry")
print("kiwi" in fruits)

False

###16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [7]:
#Answer

s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

###17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [8]:
#Answer

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

###18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [9]:
#Answer

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

##19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [10]:
#Answer

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

###20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [11]:
#Answer

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

###21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [13]:
#Answer

person = {"name": "Bidisha", "age": 27, "city": "Kolkata"}
print(person)

{'name': 'Bidisha', 'age': 27, 'city': 'Kolkata'}

###22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [14]:
#Answer

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

###23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [15]:
#Answer

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

###24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [16]:
#Answer

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

###25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [17]:
#Answer

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

###26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [18]:
#Answer

list = [1, 2, 3]
tuple = (4, 5, 6)
dictionary = {"a": 1, "b": 2}
print(list, tuple, dictionary)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

###27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [20]:
#Answer

import random
nums = [random.randint(1, 100) for _ in range(5)]
nums.sort()
print(nums)

[7, 9, 19, 36, 51]

###28. Write a code to create a list with strings and print the element at the third index

In [21]:
#Answer

strings = ["money", "life", "mountain", "smile", "love", "family"]
print(strings[3])

smile

###29. Write a code to combine two dictionaries into one and print the result

In [23]:
#Answer

d1 = {"apple": 40, "banana": 20}
d2 = {"cherry": 30, "mango": 64}
d1.update(d2)
print(d1)

{'apple': 40, 'banana': 20, 'cherry': 30, 'mango': 64}

###30. Write a code to convert a list of strings into a set

In [24]:
#Answer

list = ["London", "Paris", "New York"]
print(set(list))

{'New York', 'London', 'Paris'}